@model List<Pet>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Admin Dashboard</p>

    <a href="@Url.Action("EditPets", "AdminDashboard")">Edit Pets</a>
    <a>Edit Users</a>
   </div>
