{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection" : "YOUR CONNECTION STRING HERE"
  },
  "Cloudinary": {
        "CloudName": {yourCloudNamehere},
        "ApiKey":{yourapikeyhere},
        "ApiSecret":{yourApiSecrethere},
    },
  "AllowedHosts": "*"
}
