{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "Your connection here"
  }
  "Cloudinary": {
      "CloudName": {yourCloudNamehere},
      "ApiKey":{yourapikeyhere},
      "ApiSecret":{yourApiSecrethere},
  },
}
