@{
    ViewData["Title"] = "Home Page";
}

<div class="container-sm">
    <form asp-action="LoginMethod" method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">User name</label>
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
