@using AdoptionHub.Controllers
@{
    ViewData["Title"] = "Home Page";
}


<div id="map" class="heroBackground">
    <div class="container-lg col-xl-10 col-xxl-8 ">
        <div class="row align-items-center g-lg-5">

            <div class="text-center">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="display-1 lh-1 mb-3 text-white my-4" style="text-shadow: 1px 1px 2px black;font-weight:200">Find Your New Best Friend</h1>
                <br/>
                <a class="hvr-grow" href="@Url.Action("Dashboard","Home")">
                    <svg width="245" height="91" viewBox="0 0 245 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="245" height="91" rx="45.5" fill="#7749F8"/>
                        <g clip-path="url(#clip0_99_162)" filter="url(#filter0_d_99_162)">
                            <path d="M50.2652 44.5668C52.9242 42.3443 52.7087 37.7079 49.7846 34.2104C46.86 30.7136 42.3348 29.681 39.6766 31.9034C37.0186 34.1274 37.2337 38.7631 40.1578 42.2605C43.0824 45.7573 47.6076 46.79 50.2652 44.5668Z" fill="white"/>
                            <path d="M49.9955 58.6895C51.4421 55.5938 49.3144 51.5422 45.2416 49.6375C41.1697 47.7343 36.6957 48.7009 35.2477 51.7958C33.8021 54.8918 35.9305 58.9436 40.0029 60.8476C44.0748 62.7507 48.5485 61.7845 49.9955 58.6895Z" fill="white"/>
                            <path d="M63.1201 35.6534C66.1349 33.944 66.7541 29.3442 64.5051 25.3795C62.254 21.4136 57.988 19.5862 54.9731 21.2961C51.9598 23.0063 51.3409 27.6073 53.5901 31.5716C55.8407 35.537 60.1069 37.3637 63.1201 35.6534Z" fill="white"/>
                            <path d="M75.1561 24.1243C71.7502 24.3947 69.276 28.2451 69.6305 32.726C69.9861 37.2084 73.035 40.6214 76.4413 40.3518C79.8469 40.0818 82.3215 36.2311 81.9662 31.7497C81.6107 27.2688 78.5622 23.855 75.1561 24.1243Z" fill="white"/>
                            <path d="M65.6703 41.6165C63.2715 40.6582 60.4687 40.8496 58.1921 42.4278C55.9166 44.0059 54.7546 46.564 54.8104 49.1456C54.8728 51.9994 55.7677 54.3185 55.4491 56.5615C55.1307 58.8042 50.0066 62.6427 53.9377 69.1441C56.7143 73.7359 63.0485 74.6493 67.4576 71.5919C70.8089 69.268 72.1001 66.6429 74.0468 65.2924C75.9934 63.9421 78.9051 63.6537 82.2561 61.33C86.6653 58.2727 88.0313 52.0209 84.7044 47.8103C79.9944 41.849 74.6026 45.3024 72.3903 44.8146C70.1786 44.3264 68.3205 42.6748 65.6703 41.6165Z" fill="white"/>
                        </g>
                        <g filter="url(#filter1_d_99_162)">
                            <path d="M118.408 36.2614C118.226 34.6477 117.476 33.3977 116.158 32.5114C114.84 31.6136 113.181 31.1648 111.181 31.1648C109.749 31.1648 108.511 31.392 107.465 31.8466C106.42 32.2898 105.607 32.9034 105.028 33.6875C104.459 34.4602 104.175 35.3409 104.175 36.3295C104.175 37.1591 104.368 37.875 104.755 38.4773C105.153 39.0795 105.67 39.5852 106.306 39.9943C106.954 40.392 107.647 40.7273 108.386 41C109.124 41.2614 109.834 41.4773 110.516 41.6477L113.925 42.5341C115.039 42.8068 116.181 43.1761 117.351 43.642C118.522 44.108 119.607 44.7216 120.607 45.483C121.607 46.2443 122.414 47.1875 123.028 48.3125C123.653 49.4375 123.965 50.7841 123.965 52.3523C123.965 54.3295 123.454 56.0852 122.431 57.6193C121.42 59.1534 119.948 60.3636 118.016 61.25C116.096 62.1364 113.772 62.5795 111.045 62.5795C108.431 62.5795 106.17 62.1648 104.261 61.3352C102.351 60.5057 100.857 59.3295 99.7776 57.8068C98.698 56.2727 98.1014 54.4545 97.9878 52.3523H103.272C103.374 53.6136 103.783 54.6648 104.499 55.5057C105.226 56.3352 106.153 56.9545 107.278 57.3636C108.414 57.7614 109.658 57.9602 111.011 57.9602C112.499 57.9602 113.823 57.7273 114.982 57.2614C116.153 56.7841 117.073 56.125 117.743 55.2841C118.414 54.4318 118.749 53.4375 118.749 52.3011C118.749 51.267 118.454 50.4205 117.863 49.7614C117.283 49.1023 116.493 48.5568 115.493 48.125C114.505 47.6932 113.386 47.3125 112.136 46.983L108.011 45.858C105.215 45.0966 102.999 43.9773 101.363 42.5C99.7378 41.0227 98.9253 39.0682 98.9253 36.6364C98.9253 34.625 99.4708 32.8693 100.562 31.3693C101.653 29.8693 103.13 28.7045 104.993 27.875C106.857 27.0341 108.959 26.6136 111.3 26.6136C113.664 26.6136 115.749 27.0284 117.556 27.858C119.374 28.6875 120.806 29.8295 121.851 31.2841C122.897 32.7273 123.442 34.3864 123.488 36.2614H118.408ZM142.072 35.8182V39.9091H127.77V35.8182H142.072ZM131.606 29.5455H136.702V54.3125C136.702 55.3011 136.85 56.0455 137.145 56.5455C137.441 57.0341 137.822 57.3693 138.288 57.5511C138.765 57.7216 139.282 57.8068 139.839 57.8068C140.248 57.8068 140.606 57.7784 140.913 57.7216C141.219 57.6648 141.458 57.6193 141.628 57.5852L142.549 61.7955C142.253 61.9091 141.833 62.0227 141.288 62.1364C140.742 62.2614 140.06 62.3295 139.242 62.3409C137.901 62.3636 136.651 62.125 135.492 61.625C134.333 61.125 133.395 60.3523 132.68 59.3068C131.964 58.2614 131.606 56.9489 131.606 55.3693V29.5455ZM155.329 62.5795C153.67 62.5795 152.17 62.2727 150.829 61.6591C149.488 61.0341 148.425 60.1307 147.641 58.9489C146.868 57.767 146.482 56.3182 146.482 54.6023C146.482 53.125 146.766 51.9091 147.334 50.9545C147.903 50 148.67 49.2443 149.636 48.6875C150.601 48.1307 151.681 47.7102 152.874 47.4261C154.067 47.142 155.283 46.9261 156.522 46.7784C158.09 46.5966 159.363 46.4489 160.34 46.3352C161.317 46.2102 162.028 46.0114 162.471 45.7386C162.914 45.4659 163.136 45.0227 163.136 44.4091V44.2898C163.136 42.8011 162.715 41.6477 161.874 40.8295C161.045 40.0114 159.806 39.6023 158.158 39.6023C156.442 39.6023 155.09 39.983 154.101 40.7443C153.124 41.4943 152.448 42.3295 152.073 43.25L147.283 42.1591C147.851 40.5682 148.681 39.2841 149.772 38.3068C150.874 37.3182 152.141 36.6023 153.573 36.1591C155.005 35.7045 156.511 35.4773 158.09 35.4773C159.136 35.4773 160.243 35.6023 161.414 35.8523C162.596 36.0909 163.698 36.5341 164.721 37.1818C165.755 37.8295 166.601 38.7557 167.261 39.9602C167.92 41.1534 168.249 42.7045 168.249 44.6136V62H163.272V58.4205H163.067C162.738 59.0795 162.243 59.7273 161.584 60.3636C160.925 61 160.079 61.5284 159.045 61.9489C158.011 62.3693 156.772 62.5795 155.329 62.5795ZM156.437 58.4886C157.846 58.4886 159.05 58.2102 160.05 57.6534C161.062 57.0966 161.829 56.3693 162.351 55.4716C162.886 54.5625 163.153 53.5909 163.153 52.5568V49.1818C162.971 49.3636 162.618 49.5341 162.096 49.6932C161.584 49.8409 160.999 49.9716 160.34 50.0852C159.681 50.1875 159.039 50.2841 158.414 50.375C157.789 50.4545 157.266 50.5227 156.846 50.5795C155.857 50.7045 154.954 50.9148 154.136 51.2102C153.329 51.5057 152.681 51.9318 152.192 52.4886C151.715 53.0341 151.476 53.7614 151.476 54.6705C151.476 55.9318 151.942 56.8864 152.874 57.5341C153.806 58.1705 154.993 58.4886 156.437 58.4886ZM175.038 62V35.8182H179.964V39.9773H180.236C180.714 38.5682 181.555 37.4602 182.759 36.6534C183.975 35.8352 185.35 35.4261 186.884 35.4261C187.202 35.4261 187.577 35.4375 188.009 35.4602C188.452 35.483 188.799 35.5114 189.049 35.5455V40.4205C188.844 40.3636 188.481 40.3011 187.958 40.233C187.435 40.1534 186.913 40.1136 186.39 40.1136C185.185 40.1136 184.111 40.3693 183.168 40.8807C182.236 41.3807 181.498 42.0795 180.952 42.9773C180.407 43.8636 180.134 44.875 180.134 46.0114V62H175.038ZM207.228 35.8182V39.9091H192.927V35.8182H207.228ZM196.762 29.5455H201.859V54.3125C201.859 55.3011 202.006 56.0455 202.302 56.5455C202.597 57.0341 202.978 57.3693 203.444 57.5511C203.921 57.7216 204.438 57.8068 204.995 57.8068C205.404 57.8068 205.762 57.7784 206.069 57.7216C206.376 57.6648 206.614 57.6193 206.785 57.5852L207.705 61.7955C207.41 61.9091 206.989 62.0227 206.444 62.1364C205.898 62.2614 205.217 62.3295 204.398 62.3409C203.057 62.3636 201.807 62.125 200.648 61.625C199.489 61.125 198.552 60.3523 197.836 59.3068C197.12 58.2614 196.762 56.9489 196.762 55.3693V29.5455Z" fill="white"/>
                        </g>
                        <defs>
                            <filter id="filter0_d_99_162" x="26" y="9.24054" width="72.1787" height="74.1787" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_99_162"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_99_162" result="shape"/>
                            </filter>
                            <filter id="filter1_d_99_162" x="97.9878" y="26.6136" width="109.717" height="37.9659" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="2"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_99_162"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_99_162" result="shape"/>
                            </filter>
                            <clipPath id="clip0_99_162">
                                <rect width="52.8385" height="52.8385" fill="white" transform="translate(26 55) rotate(-60)"/>
                            </clipPath>
                        </defs>
                    </svg> </a>
            </div>
        </div>
    </div>
</div>


@* @section Scripts {
    <script>
        $(document).ready(function () {
            $('#filter-form').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("Search", "Home")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#pet-cards-container').html(result);
                    }
                });
            });
        });
    </script>
} *@