.heroBackground {
    background-image: url("/images/Background.jpg"); /* Replace with your image path */
    background-size: cover; /* Scales image to fill container */
    background-position: center; /* Centers image horizontally and vertically */
    background-repeat: no-repeat;
    height: 100vh
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}