.heroBackground {
    background-image: url("/images/Background.jpg"); /* Replace with your image path */
    background-size: cover; /* Scales image to fill container */
    background-position: center; /* Centers image horizontally and vertically */
    background-repeat: no-repeat; /* Prevents image tiling */
}
.fill {
    min-height: 100%;
    height: 100%;
}
#map {
    width: 100%;
    display: block;
}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}