@model AdoptionFormViewModel

<div class="form-container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="success-message">
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        </div>
    }
    else
    {
    <form asp-action="SubmitApplication" method="post" class="adoption-form">
        <h2>Adoption Application</h2>

        <input type="hidden" asp-for="PetId" />

        <div class="form-group">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" type="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="form-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="form-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Province" class="form-label"></label>
            <input asp-for="Province" class="form-control" />
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Country" class="form-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Comments" class="form-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-submit">Submit Application</button>
    </form>
    }
</div>